.table_row_header {
    font-size: 12px;
    color: #493f58;
}

.table_cell {
    font-size: 14px;
}

.table_cell a {
    color: #00a082;
    text-decoration: none;
}

.data_grid_wrap .MuiDataGrid-row.Mui-selected,
.data_grid_wrap .MuiDataGrid-row:hover, .data_grid_wrap .MuiDataGrid-row.Mui-hovered {
    background: #fff9ed!important;
}

.data_grid_wrap .MuiDataGrid-cell:focus {
    outline: solid #00a082 1px!important;
}

.selectWrap fieldset {
    border: none;
    outline: none;
}
